<%= article_cover @article.cover.url(:medium), class:"laClassQueQuiera" %>
<!-- Esto ahora está comentado porque lo he encapsulado en un helper, para poder reusarlo en las vistas que quiera pasandole parámetros para hacerlo dinámico. En vez de esto llamo al método helper en la línea de código superior. -->
<!-- <header style="background:url(<%= @article.cover.url(:medium)%>);background-size:cover;" class="background-cover" >
</header> -->

<div class="wrapper">
	<h1><%= @article.title %></h1>

	<!-- Comento eso ya que se imprime la imagen en el header con background cover -->
	<!-- <div><%= image_tag @article.cover.url(:medium) %></div> -->

	<!-- Esta condicion es para que en los artículos que aún no había user asignado no de error. Pero esto no lo necesito para futuros desarrollos.  -->
	<div>
		<% unless @article.user.nil? %>
			Escrito por: <%= @article.user.email %>
		<% end %>
	</div>
	<div>Visitas: <%= @article.visits_count %></div>
	<div>
		<% @article.categories.each do |category| %>
			<%= link_to category.name, category, style:"color: #{category.color};" %> 
		<% end %> 
	</div>
	<div><%= @article.body.html_safe %></div>
	<div><%= link_to "Editar", edit_article_path(@article) %></div>
</div>