<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.text_field :name %></div>
  <div><%= f.color_field :color %></div>
  <div>
    <%= f.label :categorias %>
    <% @categories.each do |category| %>
      <div><%= check_box_tag "categories[]", category.id %> <%= category.name %></div>
    <% end %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
