<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  	<%= render "partials/navigation" %>
    <!-- Mensajes flash Devise -->

    <!-- Aquí se va a mostrar un display none en caso de que no haya un notice o alert -->
    <div style="<%= "display:none;" if notice.nil? and alert.nil? %>">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  
  </body>
</html>
